<h1>Libraries</h1>
<div class="card card-body card-sm bg-light">
  <ul class="nav nav-pills">
    <LinkTo @route="libraries.index" @tagName="li" class="nav-item">
      <a href class="nav-link">
        List all
      </a>
    </LinkTo>
    <LinkTo @route="libraries.new" @tagName="li" class="nav-item">
      <a href class="nav-link">
        Add new
      </a>
    </LinkTo>
  </ul>
</div>
{{outlet}}